<!DOCTYPE html>
<html>
<body>

<h2>주식 모델 생성</h2>

<form action="/method" method="POST">
  <label for="fname">model name</label><br>
  <input type="text" id="fname" name="num" value=""><br>
  <label for="lname">data name</label><br>
  <input type="text" id="lname" name="name" value=""><br><br>
  <label for="lname">x_col</label><br>
  <input type="text" id="lname" name="name" value=""><br><br>
  <label for="lname">y_col</label><br>
  <input type="text" id="lname" name="name" value=""><br><br>
  <label for="lname">test_size</label><br>
  <input type="text" id="lname" name="name" value=""><br><br>
  <label for="lname">random_state</label><br>
  <input type="text" id="lname" name="name" value=""><br><br>
  <label for="lname">time_left_for_this_task</label><br>
  <input type="text" id="lname" name="name" value=""><br><br>
  <label for="lname">per_run_time_limit</label><br>
  <input type="text" id="lname" name="name" value=""><br><br>
  <label for="lname">method</label><br>
  <input type="text" id="lname" name="name" value=""><br><br>
  <label for="lname">data_preprocessor</label><br>
  <input type="text" id="lname" name="name" value=""><br><br>
  <label for="lname">feature_processor</label><br>
  <input type="text" id="lname" name="name" value=""><br><br>
  <label for="lname">balancing</label><br>
  <input type="text" id="lname" name="name" value=""><br><br>
  <label for="lname">classification</label><br>
  <input type="text" id="lname" name="name" value=""><br><br>
  <label for="lname">date</label><br>
  <input type="text" id="lname" name="name" value=""><br><br>
  <label for="lname">explane</label><br>
  <input type="text" id="lname" name="name" value=""><br><br>
  <input type="submit" value="확인">
</form> 

</body>
</html>